footer {
    width: 100vw;
    background: $neutral-ltgrey; 
    position: relative;
    .svg-footer-mob {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        }
    @include media($desktop){
        .svg-footer-desktop {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }
    }
    #footer-contact {
        height: 173px;
        width: $width;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-bottom: 1px solid $neutral-grey;
        #svg-logo {
            z-index: 1;
        }
        #social-icons {
            z-index: 1;
            svg {
                margin: 0 .5vw;
                &:hover {
                   path {
                       fill: $neutral-violet;
                   } 
                }
                @include hoverColor($neutral-violet);
            }
        }
        @include media($desktop){
            padding: 5vh 0;
            height: auto;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    #footer-links {
        width: $width;
        margin: auto;
        margin-bottom: 2vh;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: smaller;
        h3 {
            color: $neutral-grey;
            padding: 3vh 0 1vh;
        }       
        ul li {
            color: $neutral-violet;
            list-style: none;
            @include hoverUnderline;
            line-height: 3em;
        }
        @include media($tablet){
            position: relative;
            z-index: 1;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2vw;
        }
        @include media($desktop){
            grid-template-columns: repeat(4, 1fr);
            ul li {
                line-height: 2.5em;
            }
        }
    }
}
