#how-we-work {
    position: relative;
    background: $primary-violet;
    height: 317px;
    width: 100vw;
    margin: auto;
    width: $width;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .svg-how-we-work-mob {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
    }
    @include media($desktop){
        height: 250px;
        flex-direction: row;
        padding: 0 5vw 0 5vw;
        .svg-how-we-work-desktop {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 0;
        }
    }
    h1 {
        position: relative;
        z-index: 1;
        padding: 5vh;
    }
    p {
        padding: 5vh;
    }
    button {
        @include button($white, $primary-violet);
        @include media($desktop){
            position: relative;
            z-index: 1;
            width: max-content;
        }
    }
}