nav {
    position: fixed;
    z-index: 5;
    background: $white;
    height: 10vh;
    width: 100vw;
    padding: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mediaQ($desktop){
        position: relative;
        #svg-hamburger {
            display: none;
        }
    }
}

.nav-links {
    position: fixed;
    z-index: 0;
    top: 10vh;
    left: 100vw;
    width: 100vw;
    height: 90vh;
    color: white;
    background: $primary-violet url('../images/bg-pattern-mobile-nav.svg') no-repeat scroll left bottom;
    transition: transform 1s ease-in;
    li {
        list-style: none;
        width: auto;
        padding: .9em;
    }
    a {
        text-decoration: none;
        color: white;
    }
    button {
        @include button(white);
    }
}

.nav-active {
    transform: translateX(-100vw);
}

@include mediaQ($desktop){
    .nav-links{
        position: static;
        height: 100%;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        background: $white;
        li {
            padding: 1em;
        }
        a {
            text-decoration: none;
            color: black;
        }
        button {
            @include button(black);
        }
    }
}