#plans {
    height: 200vh;
    width: 100vw;
    background: $primary-violet;
}

#img-intro{
    background-image: url("/images/image-intro-mobile.jpg");
    background-position: left; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: $primary-blue;
}

#plans-content {
    position: relative;
    height: 100vh;
    .svg-plans-left-mob {
       position: absolute;
       top: 0;
       left: 0;
       z-index: 0;
    }
    .svg-plans-right-mob {
        position: absolute;
        bottom: -175px;
        right: 0;
        z-index: 0;
    }
    p {
        padding: 5vh 0;
    }
    button {
        @include button($white);
    }
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vh;
}

@include mediaQ($desktop) {
    #intro {
        position: relative;
        background: $primary-violet;
        #plans {
            height: 90vh;
            width: $width;
            margin: auto;
            display: flex;
            flex-direction: row-reverse;
            #img-intro {
                position: relative;
                top: 20vh;
                width: 50vw;
                height: 90vh;
                background-image: url("/images/image-intro-desktop.jpg");
                background-position: top;
            }
            #plans-content{
                width: 50vw;
                height: 90vh;
            }
        }
        .svg-plans-left-desktop {
            position: absolute;
            bottom: -250px;
            left: 0;
        }
        .svg-plans-right-desktop {
            position: absolute;
            top: -20vh;
            right: -10vh;
            z-index: 0;
        }
    }
}