$primary-violet: hsl(256, 26%, 20%);
$primary-blue: hsl(216, 30%, 68%);
$neutral-violet: hsl(270, 9%, 17%);
$neutral-grey: hsl(273, 4%, 51%);
$neutral-ltgrey: hsl(0, 0%, 98%);
$white: #FFF;
$font-size: 16px;
$desktop: 720px;

@import 'nav';
@import 'plans';
@import 'info';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: $font-size;
    font-family: 'Karla', sans-serif;
    line-height: 2em;
    background: $white;
    text-align: center;
    @media (min-width: $desktop) {
        text-align: left;
    }
}

h1 {
    font-family: 'DM Serif Display', serif;
    font-size: xx-large;
}

h2 {
    font-family: 'DM Serif Display', serif;
    font-size: x-large;
}

section {
    height: 100vh;
    width: 100vw;
}

button {
    padding: 2vh 4vw;
    border: 2px solid $white;
    background: none;
    color: $white;
    font-size: $font-size;
    font-family: 'Karla', sans-serif;
    text-transform: uppercase;
}



#how-we-work {
    @extend #plans;
    position: relative;
    height: 317px;
    margin: 5vh 5vw;
    width: 90vw;
    .svg-how-we-work {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
    }
    h1 {
        padding: 5vh;
    }
    p {
        padding: 5vh;
    }
}

footer {
    background: $neutral-ltgrey; 
    position: relative;
    #footer-contact {
        height: 200px;
        width: 75vw;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-bottom: 1px solid $neutral-grey;
        padding: 5vh;
        .svg-footer {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }
        #svg-logo {
            z-index: 1;
        }
        #social-icons {
            z-index: 1;
            svg {
                margin: 0 2vw;
            }
        }
    }
    #footer-links {
        padding: 5vh;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: smaller;
        h3 {
            color: $neutral-grey;
            padding: 3vh;
        }       
        ul li {
            color: $neutral-violet;
            list-style: none;
        }
    }
}