$primary-violet: hsl(256, 26%, 20%);
$primary-blue: hsl(216, 30%, 68%);
$neutral-violet: hsl(270, 9%, 17%);
$neutral-grey: hsl(273, 4%, 51%);
$neutral-ltgrey: hsl(0, 0%, 98%);
$white: #FFF;
$font-size: 16px;
$width: 85vw;

$desktop: 720px;

@mixin button($color) {
    padding: 2vh 4vw;
    border: 2px solid $color;
    background: none;
    color: $color;
    font-size: $font-size;
    font-family: 'Karla', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}

@mixin mediaQ($px) {
    @media (min-width: $px){
        @content;
    }
}

@import 'nav';
@import 'plans';
@import 'info';
@import 'howwework';
@import 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    overflow-x: hidden;
}

body {
    font-size: $font-size;
    font-family: 'Karla', sans-serif;
    line-height: 2em;
    background: $white;
    text-align: center;
    @media (min-width: $desktop) {
        text-align: left;
    }
    width: 100vw;
    overflow-x: hidden;
}

h1 {
    font-family: 'DM Serif Display', serif;
    font-size: xx-large;
}

h2 {
    font-family: 'DM Serif Display', serif;
    font-size: x-large;
}

// svg
.svg-mobile {
    display: block;
    @include mediaQ($desktop){
        display: none;
    }
}
.svg-desktop {
    display: none;
    @include mediaQ($desktop){
        display: block;
    }
}